<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'><meta name='viewport' content='width=device-width, initial-scale=1.0'><title></title>
    <style>
        body{margin: 0;padding: 0;}
        .container{background-color: aliceblue;border-radius: 1.5rem;text-align: center;}
        main{padding-bottom: 4rem;}
        footer{padding: 0.4rem 0;background-color: black;color: white;border-bottom-left-radius: 1.5rem;border-bottom-right-radius: 1.5rem;}
    </style>
</head>
<body>
    <div class='container'>
        <header class='logo'><img width='50%' src='http://localhost/master.terry/assets/img/favicons/skilltaps.png' alt=''></header>
        <main>
            <h2>Your password can be reset using the link below</h2>
            <p><a href='http://localhost/master.terry'>Click here</a> or copy this <br> <code>http://localhost/master.terry</code></p> 
        </main>
        <footer>&copy; Skilltaps.com</footer>
    </div>
</body>
</html>